.holder-data {
  display: flex;
  flex-wrap: wrap;
}

.holder-data div {
  width: 100%;
}

.expiry-data-and-cvc,
.expiry-data {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.expiry-data,
.expiry-data div {
  width: 50%;
  margin-right: 12px;
}

input[type="text"] {
  padding: 16px;
  margin: 8px 0 16px 0;
  border-radius: 12px;
  border: 2px #ffee44 solid;
}

input[type="text"]:nth-child(1),
input[type="text"]:nth-child(2) {
  width: 100%;
}

label {
  font-size: 12px;
  text-transform: uppercase;
}
