.holder-data {
  display: flex;
  flex-wrap: wrap;
}

.holder-data div {
  width: 100%;
}

.expiry-date-and-cvc,
.expiry-date {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.expiry-date,
.expiry-date div {
  width: 50%;
  margin-right: 12px;
}

input {
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 2px hsl(278, 68%, 11%) solid;
}

input:nth-child(1),
input:nth-child(2) {
  width: 100%;
}

.form-input {
  margin-bottom: 12px;
}

label {
  font-size: 12px;
  text-transform: uppercase;
}

button {
  width: 100%;
  padding: 16px;
  margin-top: 12px;
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  color: #ffffff;
  cursor: pointer;
  border: none;
}
